{% extends 'base.html'%}
{% block content %}
<div class="home-card">
    <h2>Welcome to Chat App</h2>
    <form method='post' class="buttons">
        <div>
            <label>Name:</label>
            <input type="text" placeholder="Pick a name!" name="name" value="{{name}}" />
        </div>
        <div>
            <input type="text" placeholder="Room code" name="code" value="{{code}}" />
            <button type="submit" name="join" class="join-btn">Join a Room</button>
        </div>
        <button type="submit" name="create" class="create-btn">Create a Room</button>
        {% if error %}
        <ul>
            <li>{{error}}</li>
        </ul>
        {% endif %}
    </form>
</div>
{% endblock %}
